<!-- <div *ngFor="let pokemon of pokemons | async">
    <p>{{pokemon.name}}</p>
    <img [src]="pokemon.sprites.front_default" alt="">
    <p>{{pokemon.id}}</p>
</div> -->

<table class="table">
    <thead>
      <tr>
          <th scope="col">Dex</th>
          <th scope="col">Name</th>
          <th scope="col">Types</th>
          <th scope="col"> img</th>
      </tr>
    </thead>
    <tbody *ngFor="let pokemon of pokemons | async">
      <tr>
          <td>{{pokemon.id}}</td>
          <td> {{pokemon.name}}</td>
          <td> {{convertTypes(pokemon.types)}}</td>
          <img [src]="pokemon.sprites.front_default" alt="">
      </tr>
    </tbody>
  </table>